.projects {
    text-align: center;
    padding: 50px 20px; /* Réduction du padding supérieur de 100px à 50px */
}

.project-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.project-card {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    color: #e0e0e0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: left;
    margin: 0;
    transition: all 0.3s ease;
    position: relative;
}

.project-card h3 {
    font-size: 22px;
    color: var(--accent-color);
    margin-bottom: 10px;
}

.project-card p {
    margin: 10px 0;
}

.project-card .btn,
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: var(--accent-color);
    color: #121212;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.project-card:hover{
    transition: all 0.3s ease;
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 10;    
    background-color: var(--accent-color);
}
.btn:hover {
    background-color: var(--accent-color);
    color: #121212;
    scale: 1.05;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.project-card:hover .strong_word {
    color: #121212;
}

.project-card:hover h3 {
    color: #121212;
}

@media (max-width: 768px) {
    .projects {
        padding: 40px 15px; /* Réduction du padding supérieur de 80px à 40px */
    }

    .project-card {
        width: 250px;
    }

    .project-card h3 {
        font-size: 20px;
    }

    .project-card p,
    .project-card .btn {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .projects {
        padding: 30px 10px; /* Réduction du padding supérieur de 60px à 30px */
    }

    .project-card {
        width: 100%;
    }

    .project-card h3 {
        font-size: 18px;
    }

    .project-card p {
        font-size: 12px;
    }

    .project-card .btn {
        padding: 6px 10px;
        font-size: 12px;
    }
}

@media (min-width: 576px) {
    .project-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .project-list {
        grid-template-columns: repeat(3, 1fr);
    }
}